html { 
  height: 100%;
  background-color: white;
}
html.transition-bg {
  transition: background-color 0.5s ease, color 1s ease;
}
html.dark-mode {
  background-color: #0c0b0b;
  color: white;
}
body {
  font-family: monospace;
  font-size: 16px;
  line-height: 1.4;
  margin: 0;
  min-height: 100%;
  overflow-wrap: break-word;

}
#dark-mode-toggle {
  position: fixed;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: inherit;
  transition: transform 1.2s linear(0 0%, 0 1.8%, 0.01 3.6%, 0.03 6.35%, 0.07 9.1%, 0.13 11.4%, 0.19 13.4%, 0.27 15%, 0.34 16.1%, 0.54 18.35%, 0.66 20.6%, 0.72 22.4%, 0.77 24.6%, 0.81 27.3%, 0.85 30.4%, 0.88 35.1%, 0.92 40.6%, 0.94 47.2%, 0.96 55%, 0.98 64%, 0.99 74.4%, 1 86.4%, 1 100%);
}
html.dark-mode #dark-mode-toggle {
  transform: rotate(180deg); /* Rotate icon in dark mode */
}
.post-meta { text-align: right; }
h2, h3, h4, h5, h6 { margin-top: 3rem; }
hr { margin: 2rem 0; }
p { margin: 1rem 0; }
a {
    color: #6b9080;
    text-decoration: underline;
}
html.dark-mode a {
    color: #a4c3b2;
}
li { margin: 0.4rem 0; }
li::marker {
    color: #6b9080;
}
ul > li::marker {
    content: '◆ ';
}
ul > ul > li::marker {
    content: '◇ ';
}
.w {
  max-width: 640px;
  margin: 0 auto;
  padding: 4rem 2rem;
}
hr {
  text-align: center;
  border: 0;

  &:before { content: '/////' }
  &:after { content: attr(data-content) '/////' }
}

table { width: 100%; }

table, th, td {
  border: thin solid black;
  border-collapse: collapse;
  padding: 0.4rem;
}

code {
  color: white;
  background: black;
}

div.highlighter-rouge code {
  display: block;
  overflow-x: auto;
  white-space: pre-wrap;
  padding: 1rem;
}

blockquote {
  font-style: italic;
  border: thin solid black;
  padding: 1rem;

  p { margin: 0; }
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
@media (max-width: 650px) {
  .darkmode-banner {
    display: none;
  }
}